$primary-c: #343d23;
$icon-c: #c0ca33;
$letter-c: white;
// $icon-back-c: #f0f6fa;
// $facebook:#3b5998;
// $twitter:#1da1f2;
// $linkedin: #0077b5;
// $instagram: #405de6;
// $youtube: #ff0000;
// $vimeo:#aad450;
// $dribble: #ea4c89;

@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
  }
