#plan{
    position: relative;
    background-color: $color-effet-2;
    .title{
        // position: absolute;
        h2{
            font-family: $font-family-second;
            font-weight: 600;
            font-size: $font-size*2; 
            margin-bottom: 10px;
        }
      span{
         height: 3px;
         width: 80px;
         margin: 0 0 15px;
         border-bottom: 2px solid $color;
         position: relative;
         display: inline-block;
         
      }
      span::after{
         content: "";
         border-bottom: 2px solid $color;
         width: 45px;
         height: 2px;
         display: block;
         margin: 5px auto;
      }
      p{
          font-size: $font-size;
          margin: 0 auto 50px;
      }
     }

     //card

     .card{
         border: none !important;
     }
     .card-free{
         padding: 0;
        .card{
            margin: 30px 0;
            text-align: center;
            box-shadow: 0 0 3px $color-card;
            .card-header{
                font-size: $font-size-s*1.7;
                font-weight: 500;
                border-bottom: none;
                text-transform: uppercase;
            }
            .card-body{
                text-align: center;
                h5{
                    display: inline;
                    font-size: ($font-size-xl)-9;
                    font-weight: 600;
                }
                .curvent{
                   font-size: $font-size+10;
                   margin-top: -54px;
                   position: relative;
                   top: -40px;
                }
                .pricing{
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    text-align: left;
                    margin: 20px 25px;
                    li{
                        margin-bottom: 10px;
                    }
                    i{
                        margin-right: 15px;
                        color: $color;
                    }
                    i.icon-disable{
                        color: $color-card;
                    }
                }
                a{
                    margin: 12px 0px;
                }
            }
        }
     }
     .card-premium{
        padding: 0;
        z-index: 99;
        .card{
            text-align: center;
            padding-bottom: 40px;
            margin-top: -5px;
            border: none;
            box-shadow: 0 0 50px 0 rgba(0,0,0,.07);
            .card-header{
                font-size: $font-size-s*1.7;
                font-weight: 500;
                border-bottom: none;
                background-color: $color;
                color: $color-white;
                text-transform: uppercase;
                .ribbon{
                    position: absolute;
                    top: 0;
                    left: auto;
                    right: 0;
                    @include transform(rotate(90deg));
                    width: 150px;
                    overflow: hidden;
                    height: 150px;
                    h4{
                        background-color: $color-white;
                        margin-top: 38px;
                        transform: translateY(-50%) translateX(-50%) translateX(38px) rotate(-45deg);
                        color: $color-black;
                        font-size: ($font-size-s)-2;
                        line-height: 3em;
                        letter-spacing: 1px;
                        box-shadow: 0 0 10px 0 rgba(0,0,0,.29);
                        text-align: center;
                        text-transform: initial;
                    }
                }
            }
            .card-body{
                text-align: center;
                h5{
                    display: inline;
                    font-size: ($font-size-xl)-9;
                    font-weight: 600;
                }
                .curvent{
                   font-size: $font-size+10;
                   margin-top: -54px;
                   position: relative;
                   top: -40px;
                }
                .pricing{
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    text-align: left;
                    margin: 40px 25px;
                    li{
                        margin-bottom: 10px;
                    }
                    i{
                        margin-right: 15px;
                        color: $color;
                    }
                    i.icon-disable{
                        color: $color-card;
                    }
                }
                a{
                    margin: 12px 0px;
                }
            }
        }

     }
     
}