$font-family: 'Roboto', sans-serif;
$font-family-second: 'Poppins', sans-serif;

$color: #0b60a9;
$color-hover: #323232;
$color-effet: #f5f5f5;
$color-effet-2:#e2e1e1;
$color-after: #f2f7fb;
$color-black:#25292f;
$color-white: #fff;
$color-card: #ddd;


$font-size: 16px;
$font-size-s: 15px;
$font-size-xl: 80px;

$facebook:#3b5998;
$twitter:#1da1f2;
$linkedin: #0077b5;
$instagram: #405de6;
$youtube: #ff0000;
$vimeo:#aad450;
$dribble: #ea4c89;

$star:#ffa500;